<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>497676943714-qmaj83uuqnu99im2il41oi7v2u5bngu7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.497676943714-qmaj83uuqnu99im2il41oi7v2u5bngu7</string>
	<key>API_KEY</key>
	<string>AIzaSyDwrPKj0ntgigsqk_Mv0opzrtTsOMUlA5o</string>
	<key>GCM_SENDER_ID</key>
	<string>497676943714</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fireFlutter</string>
	<key>PROJECT_ID</key>
	<string>flutter-fire-83bbd</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-fire-83bbd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:497676943714:ios:cd7e78845e21570ce8ec3b</string>
</dict>
</plist>